.jumbotron {
    background: url("https://upload.wikimedia.org/wikipedia/en/4/43/Giphy_Logo.png");
    background-size: 100%;
    padding: 10.5%;
    background-position: center;
}


body {
    margin-top: 25px;
}

.btn-primary {
    background-color: #faff94;
    border: none;
}

.btn-custom {
    margin-right: 10px;
    margin-bottom: 10px; 
    background: #ff505c;
}

.btn-custom:hover {
    background: #00ffa0;
}

.btn-custom:focus {
    background: #b200ff;
    ;
}

.btn-custom:target {
    background: #faff94;
}




.btn-success {
    background: #00ffa0;
    border: none;
}

.btn-success:hover {
    background: #ff505c;  
}


img {
    margin: 15px;
}

p {
    width: 50%;
    margin-left: 15px;
}


